# Version control
.git
.github
.gitignore

# IDEs and Editors
.vscode
.idea
*.swp
*.swo

# Desktop app's frontend
frontend/
!frontend/package.json
**/node_modules
.prettierrc
.prettierignore

# Build outputs
**/build
**/dist
**/bin
**/tmp
**/out
**/.svelte-kit

# Wails specific 
wails.json
main.go

# Env files
.env
.env.*
*.local

# Tests and configs
sqlc.yaml
Dockerfile
.dockerignore
docker-compose.yml

# Docs
README.md
LICENSE
